body {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

#header-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 12px;
}

#first-doggo {
    height: 200px;
    width: 350px;
}

.facts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    width: 1000;
    text-align: center;

}

#doggo-facts {
    display: flex;
    justify-content: space-evenly;
    gap: 80px;
}

.content-container {
    display: flex;
    justify-content: space-between;
    grid-area: 600px;

}

.inspirational-quote-container{
    margin: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
}